
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky" style="height: 100vh;"> <!-- Set the sidebar height to 100% of the viewport height -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Records
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Submissions
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Content Area -->
        <div id="contentArea" class="col-md-9 col-lg-10">
            <!-- Content will be loaded here -->
        </div>

    </div>
</div>
{% endblock %}