{% extends "book/base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-Submission{% endblock %}

{% block content %}
<!-- SUBMITTED VIOLATIONS / OFFENSE-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <!-- Second Column -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">

                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0 flex-grow-1">Submitted Violations</h6>
                            <div class="button-group mt-2 mt-md-0">
                                <form method="POST" action="{% url 'submission_page' %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" id="btnNew" class="btn btn-primary btn-sm mr-2">Submit New</button>
                                </form>
                                <button type="button" id="btnRefresh" class="btn btn-success btn-sm">Refresh</button>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="table-responsive pb-3">
                            <table class="table table-bordered table-striped w-100" id="submittedViolationDt">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Violation</th>
                                        <th>Date of Notice to Accused</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

