{% load static %}
<html lang="en">
<head>
    {% block extra_css %}
    <!-- Bootstrap CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PunishmentBook</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="mt-5 mb-5 text-center">PUNISHMENT BOOK</h1>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <!-- First Column -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="personnel">Selected Personnel:</label>
                    <select multiple class="form-control" id="personnel" name="personnel">
                        <option value="personnel1_id">Rank1 LastName1, FirstName1 MiddleName1</option>
                        <option value="personnel2_id">Rank2 LastName2, FirstName2 MiddleName2</option>
                    </select>
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="mb-0 col-md-4 col-12">AFP Personnel</h6>
                        <button id="refreshPersonnel" class="btn btn-success btn-sm">Refresh</button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped clustered" id="showPersonnel">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>First</th>
                                        <th>Middle</th>
                                        <th>Last</th>
                                        <th>Afpsn</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header d-flex justify-content-end align-items-center">
                <h6 class="mb-0 col-md-4 col-12">Offense & Violation Records</h6>
                <div class="col-md-5 col-12 ml-auto">
                    <div class="input-group">
                        <input type="text" id="violationSelected" class="form-control" placeholder="Selected Violation">
                        <div class="input-group-append">
                            <button id="refreshViolations" class="btn btn-success btn-sm">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped clustered" id="offenseTable">
                        <thead>
                            <tr>
                                <th>Offense Records</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block extra_js %}
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> <!-- SweetAlert2 JS -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
    <script src="{% static 'js/load_dt_personnel.js' %}"></script>
    <script src="{% static 'js/load_dt_offense.js' %}"></script>

    <script>
        $(document).ready(function () {
            initializePersonnelDataTable();
            initializeOffenseDataTable();
        });
    </script>
{% endblock %}
</body>
</html>
