{% extends "book/base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-Submission{% endblock %}

{% block content %}
<div id="submissionContainer" class="container mb-5">

    <div class="my-5 text-center">
        <h1 class="">SUBMIT NEW OFFENSE</h1>
    </div>

    <div id="stepNameSubmitOffense" class="text-center mb-4" style="font-style: italic;">
        <i class="fa fa-briefcase"></i> AFP PERSONNEL
    </div>


    <form id="submitForm" action="{% url 'submit_function' %}" method="post">
        {% csrf_token %}

        <div id="step1" class="form-step">
            {% include 'book/submission/select_personnel.html' %}
        </div>

        <div id="step2" class="form-step">
            {% include 'book/submission/select_violations.html' %}
        </div>

        <div id="step3" class="form-step">
            {% include 'book/submission/select_omissions.html' %}
        </div>

        <div id="step4" class="form-step">
            {% include 'book/submission/select_punishments.html' %}
        </div>

        <div id="step5" class="form-step">
            {% include 'book/submission/select_imposer.html' %}
        </div>

        <div id="step6" class="form-step">
            {% include 'book/submission/choose_date_noticed.html' %}
        </div>

    </form>
</div>

{% endblock %}
