{% extends "book/base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-View Offense{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <!-- Image -->
            <img src="{% if person_image %}{{ person_image.url }}{% else %} {% static 'img/soldier.png' %} {% endif %}" alt="Military Profile" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <!-- Personal Information -->
            <h4 class="mt-3">{{ personnel_name }}</h4>

            <p class="mt-3"><strong>Violations:</strong></p>
            <ul class="list-group">
                {% for offense in violations %}
                    <li class="list-group-item">{{ offense.violation }}</li>
                {% endfor %}
            </ul>

            <p class="mt-3"><strong>Punishment:</strong></p>
            <ul class="list-group">
                {% for item in punishments %}
                    <li class="list-group-item">{{ item.punishment }}</li>
                {% endfor %}
            </ul>

            <p class="mt-3"><strong>Date and Place:</strong></p>
            <dl class="row">
                <dt class="col-sm-3">Date:</dt>
                <dd class="col-sm-9">{{ date_of_omission | date:"F d, Y" }}</dd>
                <dt class="col-sm-3">Place:</dt>
                <dd class="col-sm-9">{{ place_of_omission.place }}</dd>
            </dl>

            <p class="mt-3"><strong>Imposer:</strong> {{ imposer_name }}</p>
            <p class="mt-3"><strong>Date Noticed to Accused:</strong> {{ date_notice_info }}</p>
        </div>
    </div>
</div>

{% endblock %}
